@*@model Maganmakcore.Models.Order*@
@model Maganmakcore.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Detali1";
}

<h1>Detali1</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order.Email)
        </dd>
    </dl>
</div>




@foreach(var item in Model.Details)
{
    <li>@item.Proizvod.ime</li>
<li>@item.Amount</li>
<li>@item.Cena</li>

}
<div>
    <a asp-action="Edit" asp-route-id="@Model.order.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
