@model Maganmakcore.Models.Proizvod
@{
    ViewBag.Title = Model.ime;
}

<div class="container detali">
    <div class="row">
        <div class="col-md-8">
            <p class="opis-detali">@Html.DisplayFor(model => model.dolg_opis)</p>

            @if(Model.prospekt_link != null)
            {
                <button class="kopce-proizvod"><a href="@Model.prospekt_link" target="_blank">Преземи проспект</a></button>
            }
            @if(Model.upatstvo_link != null)
            {
                <button class="kopce-proizvod"><a href="@Model.upatstvo_link" target="_blank">Преземи упатство</a></button>
            }
            
            <button class="kopce-proizvod "><a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-proizvodId="@Model.Id">во кошничка</a></button>
        </div>
        <div class="col-md-4">
            <!-- Image Zoom HTML -->   
            <img id="myImg" src="@Model.slika" alt="@Model.ime" height="200px">

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <img class="modal-content" id="img01">
            </div>
            <!-- End Image Zoom HTML -->
        </div>
    </div>
</div>




<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    modalImg.alt = this.alt;
    captionText.innerHTML = this.alt;
}


// When the user clicks on <span> (x), close the modal
modal.onclick = function() {
    img01.className += " out";
    setTimeout(function() {
       modal.style.display = "none";
       img01.className = "modal-content";
     }, 400);
    
 }    
    
</script>