@model Maganmakcore.ViewModel.ProizvodViewModel

@{
    ViewBag.Title = Model.momentalna_kategorija;
}

<section class="lista-proizvodi">

@*    <h1>Заштита на растенија</h1><br />*@
    <div class="proizvodi-container">

        @foreach (var item in Model.Proizvodi)
        {

            <div class="card">
                <div class="slika-proizvod"><a href="@Url.Action("Detali", new { id=item.Id })"><img src="@Html.DisplayFor(modelItem => item.slika)" alt="@Html.DisplayFor(modelItem => item.ime)"></a></div>
                <div class="naslov-proizvod"><a href="@Url.Action("Detali", new { id=item.Id })">@Html.DisplayFor(modelItem => item.ime)</a></div>
                <div class="kratok-opis-proizvod">@Html.DisplayFor(modelItem => item.kratok_opis)</div>
                <div class="cena">@Html.DisplayFor(modelItem => item.Cena) ден.</div>
                <div class="d-inline-block">
                    <button class="kopce-proizvod "><a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-proizvodId="@item.Id">во кошничка</a></button>
                    <button class="kopce-proizvod"><a href="@Url.Action("Detali", new { id=item.Id })">повеќе</a></button>
                </div>
            </div>

        }

    </div>
</section>
