@model IEnumerable<Maganmakcore.Models.Brz_link>

@{
    ViewData["Title"] = "Брзи Линкови";
}
<p>
    <a asp-action="nov_link">Креирај нов линк</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                <div class="btn-group" role="group">
                <button type="button" class="btn kopce-proizvod">@Html.ActionLink("Измени", "Izmeni", new { id = item.Id })</button>
                <button type="button" class="btn kopce-proizvod">@Html.ActionLink("Избриши", "Izbrishi", new { id = item.Id })</button>
            </div>
            </td>
        </tr>
}
    </tbody>
</table>
